html, body {
    margin:0;
    font-family: verdana;
    font-size: 1rem;
    line-height: 1.5;
  }

.logo{
    width: 8rem;
}

.logo-texto{
    font-size: 1.2rem;
}

#header{
    background-color: rgb(121, 219, 145);
    color: rgb(13, 41, 66);
    display: flex;
    align-items: center;
    width: 100%;
}

.logo-site{
    display: flex;
    /* align-items: center; */
    height: 7rem;
}

.campo-busca{
    margin-left: auto;
    margin-right: 2rem;
    display: flex;
}

.texto-busca{
    font-size: 1rem;
}
#busca{
    border: 0.2rem solid lemonchiffon;
    width: 15rem;
}

.botao-busca{
    width: 1rem;
}

#nav-principal{
    background-color: #000;
    position: absolute;
    margin-top: 6rem;
    width: 100%;
}

#nav-principal a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.nav-item{
   display: inline;
   margin-right: 5rem;
}

.imagem-home{
    width: 60%;
    margin-left: 7rem;
}

.artigo-home{
    margin-left: 5rem;
    margin-right: 20rem;
    border: 0.5rem groove rgb(42, 151, 165);
    padding: 0 1rem 0 1rem;
}


.links-home{
    width: 20%;
    float: right;
    margin-top: -15rem;
    border: 0.5rem outset rgb(226, 220, 127);
    margin-right: 2rem;
}

#nav-footer{
    text-align: center;
}

#nav-footer li{
    margin-right: 1rem;
    display: inline;
    text-decoration: none;
}

#copyright{
    text-align: center;
}

.imagem-about{
    width: 60%;
    margin-left: 8rem;
}

.artigo-about{
    margin-left: 8rem;
    margin-right: 15rem;
    border: 0.5rem groove rgb(42, 151, 165);
    padding: 0 1rem 0 1rem;
}

.imagem-portifolio{
    width: 100%;
}

.imagem-web{
    width: 80%;
    margin-left: 10rem;
}

.artigo-portifolio{
    margin-left: 8rem;
    margin-right: 15rem;
}

h1{
    font-size: 2rem;
    color: rgb(240, 96, 71);
}

.page-siteMap{
    margin: 4rem 12rem 0 5rem;
    border: 1rem ridge yellow;
    padding-left: 2rem;
}

.artigo-produtos{
    margin: 0 15rem 0 5rem;

}

table, th, td{
    border: 0.2rem solid black;
}

.artigo-services{
    margin-left: 5rem;
}

.imagem-contato{
    width: 80%;
    margin-left: 5rem;
}

.page-contato{
    margin-left: 7rem;
    width: 60%;
}

fieldset{
    padding-right: 2rem;
    margin-bottom: 1rem;
}

#contact input[type=text]{
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#contact input[type=email]{
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#contact input[type=number]{
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#contact input[type=tel]{
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#comentarios{
  width: 80%;
  height: 15rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  margin-bottom: 1rem;
}

.error-message{
    color: red;
    border: 1px solid red;
    display: none;
}
